.collections {
  padding: 10px;
}

.card-text {
  font-size: 12px;
  color: #3a020c;
}

.card {
  width: 80%;
}

.image-popup-vertical-fit {
  align-items: center !important;
}

.card-title {
  color: #080891;
}
.title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}
